<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xs="12" size-sm="12" size-md="6" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon color="secondary" name="key"></ion-icon>
              Login
            </ion-card-title>
          </ion-card-header>
            <ion-card-content>
              <form autocomplete="off">
                   <ion-item>
                     <ion-label position="floating">Email</ion-label>
                     <ion-input type="text"></ion-input>
                   </ion-item>
                   <ion-item>
                      <ion-label position="floating">Password</ion-label>
                      <ion-input type="password"></ion-input>
                    </ion-item>
                    <ion-button color="secondary" expand="block" class="ion-margin-top">Login</ion-button>
              </form>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
