<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Utenti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        
          <ion-list *ngFor="let user of usersList">

            <ion-item>
              <ion-row>
                <ion-col>
                  <ion-icon name="person"  slot="start"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-img class="user-avatar" src="{{user.photoURL || './assets/avatar.png'}}"></ion-img> 
                </ion-col>
                <ion-col>
                  <ion-item button (click)="openDetailsPage(user)" >
                    {{ user.displayName }}
                  </ion-item>
                </ion-col>
                <ion-col>
                  email: {{user.email}}
                </ion-col>

                </ion-row>
            </ion-item>
          </ion-list>
        
      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>
