<ion-header>
  <ion-toolbar>
    <ion-title>Profilo</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="8">

        <ion-card>
            <ion-img class="user-avatar" src="{{ utente.__zone_symbol__value.photoURL || './assets/avatar.png'}}"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Profilo</ion-card-subtitle>
              <ion-card-title>{{ utente.__zone_symbol__value.displayName }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
             <ion-item>
               email: {{ utente.__zone_symbol__value.email }}
             </ion-item> 
             <ion-item >
              Admin:  {{ utente.__zone_symbol__value.roles.admin }}
             </ion-item>
             <ion-item >
                Subscriber :  {{ utente.__zone_symbol__value.roles.subscriber }}
              </ion-item>
            
            </ion-card-content>
          </ion-card>
       
    </ion-col>
  </ion-row>


</ion-content>
